:root{
    --primary-color: rgb(200,200,200);
    --input-color: rgb(240,240,240);
    --sans-serif-font: "Josefin", sans-serif;
}

html{
    font-size: 18px;
}

body{
    margin: 0
}

.content{
    width: 100%;
    max-width: 1000px;
    padding: 4vw 3vw;
    box-sizing: border-box;
    margin: auto;
}

h1, h2, h3, h4{
    font-family: "Josefin", sans-serif;
}

p{
    font-size: 1rem;
    font-family: "Playfair", serif;
    margin: 14px auto;
}

li{
    font-family: "Playfair", serif;
}

input, textarea, button{
    margin: 0.1rem auto 0.5rem auto;
    padding: 0.4rem;
    box-sizing: border-box;
    border-radius: 0.4rem;
    border: none;
    background: var(--input-color);
}

label{
    margin: 0.3rem auto;
}

input, textarea{
    width: 100%;
    max-width: 500px;
}